@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  width: 970.67px;
  margin: auto;
}

.maxContainer {
  width: 1120px;
  margin: auto;
}

body {
  background: #09080f;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

:root {
  --Inter: "Inter", sans-serif;
  --white: #fff;
  --light-blue: #9b99ff;
  --light-blue2: #9d9cca;
}

header {
  position: relative;
  overflow: hidden;
}
header .header__section_top_img {
  position: absolute;
  top: 55px;
  left: 0;
}
header .header_item_bg {
  position: absolute;
  z-index: 3;
  top: 0;
  left: -130px;
}
header .header_item_bg_right {
  position: absolute;
  z-index: 3;
  right: -135px;
  bottom: -80px;
}
header .header__top__right {
  position: absolute;
  right: 60px;
  top: 57px;
}
header .header_bottom_left {
  position: absolute;
  left: 70px;
  bottom: 70px;
}
header .header_bottom_right {
  position: absolute;
  right: 70px;
  bottom: 70px;
}
header .header_qr_code {
  position: absolute;
  right: 0px;
  bottom: 0;
}
header .header__center {
  text-align: center;
  padding-top: 130px;
  color: white;
  position: relative;
  padding-bottom: 102px;
}
header .header__center h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 124%;
  color: var(--light-blue2);
  font-family: var(--Inter);
  margin-bottom: 12px;
}
header .header__center h2 {
  font-weight: 600;
  font-size: 48px;
  font-family: var(--Inter);
  line-height: 124%;
  margin-bottom: 22px;
}
header .header__center p {
  font-weight: 600;
  font-size: 22px;
  font-family: var(--Inter);
  line-height: 175%;
  color: var(--light-blue2);
  margin-bottom: 32px;
}
header .header__center img {
  margin-bottom: 22px;
}
header .header__center .g-play-app-store {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header__center .g-play-app-store a:first-child {
  margin-right: 22px;
}
header .header__item {
  height: 653px;
  position: relative;
}
header .header__item .maxContainer {
  position: relative;
}
header nav {
  padding-top: 22.67px;
}
header nav .row {
  justify-content: space-between;
}
header nav .row .left a {
  display: flex;
  align-items: center;
}
header nav .row .right ul {
  display: flex;
  align-items: center;
}
header nav .row .right ul li:first-child {
  margin-right: 21px;
}
header .map {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
header .header_front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 0, 25, 0.97);
}

main,
section {
  background: url("../images/main-bg.png") no-repeat;
  background-size: cover;
  padding-top: 98px;
  padding-bottom: 122px;
  overflow: hidden;
}
main .main-title,
section .main-title {
  margin: auto;
  display: block;
}
main .maxContainer,
section .maxContainer {
  position: relative;
}
main .maxContainer img,
section .maxContainer img {
  position: absolute;
  top: -170px;
  left: -120px;
  width: 120%;
  height: 500px;
  height: auto;
}
main .container,
section .container {
  position: relative;
  z-index: 3;
}
main .row,
section .row {
  justify-content: space-between;
  margin-top: 28px;
}
main .row .box,
section .row .box {
  width: 307px;
  padding: 33px 25.5px 72.33px 24px;
  background: #120e2a;
  height: 432px;
  border-radius: 16px;
  background: url("../images/main-block-1.png") no-repeat;
  background-size: cover;
  text-align: center;
}
main .row .box img,
section .row .box img {
  margin-bottom: 26px;
}
main .row .box h5,
section .row .box h5 {
  color: var(--light-blue);
  font-weight: 600;
  font-size: 18px;
  line-height: 127.5%;
  font-family: var(--Inter);
}
main .row .box p,
section .row .box p {
  font-weight: 500;
  font-size: 16px;
  line-height: 166%;
  font-family: var(--Inter);
  color: var(--light-blue2);
  margin-top: 16px;
}
main .row .box:nth-child(2),
section .row .box:nth-child(2) {
  background: url("../images/main-block-2.png") no-repeat;
  padding-bottom: 131px;
}
main .row .box:nth-child(2) h5,
section .row .box:nth-child(2) h5 {
  color: var(--white);
}
main .row .box:nth-child(2) p,
section .row .box:nth-child(2) p {
  color: rgba(255, 255, 255, 0.8);
}
main .row .box:nth-child(3),
section .row .box:nth-child(3) {
  background: url("../images/main-block-3.png") no-repeat;
  padding-bottom: 23px;
}

section .container .row .box {
  height: 255.33px;
}

section.section_comments .maxContainer img {
  height: 780px;
}
section.section_comments .left .left_comment {
  width: 263.33px;
  height: 344.67px;
  background: url("../images/left_comment.png") no-repeat;
  background-size: cover;
  padding: 21px 0 1px 26px;
  position: relative;
}
section.section_comments .left .left_comment h4 {
  color: var(--white);
  font-family: var(--Inter);
  font-weight: 600;
  font-size: 18px;
  line-height: 127.5%;
  margin-bottom: 16px;
}
section.section_comments .left .left_comment .stars {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
section.section_comments .left .left_comment .stars img {
  margin-right: 3.5px;
  cursor: pointer;
  width: 30.63px;
  height: 32.67px;
}
section.section_comments .left .left_comment .stars img:last-child {
  opacity: 0.5;
}
section.section_comments .left .left_comment .left_comment_bottom {
  position: absolute;
  bottom: 0;
}
section.section_comments .left .left_comment .left_comment_bottom .girl_icon {
  position: absolute;
  left: 29px;
  bottom: 0;
  z-index: 3;
}
section.section_comments .left .left_comment .left_comment_bottom .star_icon {
  position: absolute;
  z-index: 2;
}
section.section_comments .left .left_comment .left_comment_bottom .star_icon:nth-child(1) {
  left: 30px;
  bottom: 50px;
  transform: rotate(-33deg);
}
section.section_comments .left .left_comment .left_comment_bottom .star_icon:nth-child(2) {
  left: 120px;
  bottom: 100px;
  transform: rotate(-23deg);
}
section.section_comments .left .left_comment .left_comment_bottom .star_icon:nth-child(3) {
  left: 140px;
  bottom: 35px;
  transform: rotate(-23deg);
}
section.section_comments .right .right_top {
  display: flex;
  align-items: center;
}
section.section_comments .right .right_top .item_one {
  width: 328px;
  background: url("../images/right_bg_top.png") no-repeat;
  background-size: cover;
  display: flex;
  border-radius: 16px;
  overflow: hidden;
  height: 160px;
  padding-top: 21px;
  padding-left: 26px;
  position: relative;
}
section.section_comments .right .right_top .item_one .item_right {
  position: absolute;
  right: 0;
}
section.section_comments .right .right_top .item_one:first-child {
  margin-right: 24px;
}
section.section_comments .right .right_top .item_one:first-child .item_right {
  transform: rotate3d(1, 200, 1, 179deg);
  top: -10px;
  right: -20px;
}
section.section_comments .right .item_left h4,
section.section_comments .right .right_bottom_left h4 {
  color: var(--light-blue);
  font-weight: 600;
  font-size: 18px;
  line-height: 127.5%;
  font-family: var(--Inter);
  margin-bottom: 16px;
}
section.section_comments .right .item_left .stars,
section.section_comments .right .right_bottom_left .stars {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
section.section_comments .right .item_left .stars img,
section.section_comments .right .right_bottom_left .stars img {
  width: 30.31px;
  height: 32.33px;
  margin-right: 4px;
}
section.section_comments .right .item_left .stars img:last-child,
section.section_comments .right .right_bottom_left .stars img:last-child {
  opacity: 0.2;
}
section.section_comments .right .item_left h5,
section.section_comments .right .right_bottom_left h5 {
  color: var(--light-blue2);
  font-family: var(--Inter);
  font-weight: 500;
  font-size: 16px;
  line-height: 166%;
}
section.section_comments .right_bottom {
  margin-top: 23px;
  background: url("../images/right_bg_bottom.png") no-repeat;
  background-size: contain;
  height: 160px;
  padding-top: 21px;
  padding-left: 26px;
  position: relative;
}
section.section_comments .right_bottom .row {
  margin-top: 0;
}
section.section_comments .right_bottom .right_bottom_right_img {
  top: 10px;
  position: absolute;
  right: 0;
  transform: rotateY(180deg);
}
section.section_comments .right_bottom .star_icon {
  position: absolute;
}
section.section_comments .right_bottom .star_icon:nth-child(1) {
  right: 130px;
  transform: rotate(-20deg);
  top: 25px;
}
section.section_comments .right_bottom .star_icon:nth-child(2) {
  right: 170px;
  transform: rotate(20deg);
  top: 80px;
}
section.section_comments .right_bottom .star_icon:nth-child(3) {
  right: 230px;
  transform: rotate(20deg);
  top: 25px;
}

section.section_state .row {
  justify-content: space-between;
  position: relative;
}
section.section_state .row .item {
  display: flex;
  width: 262px;
  border-radius: 16px;
  background: url("../images/section_state_item.png") no-repeat;
  background-size: cover;
  padding: 19px 24px 19px 16px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}
section.section_state .row .item .item_state_left {
  display: flex;
  align-items: center;
}
section.section_state .row .item .item_state_left .circle {
  background: #d9d9d9;
  height: 21.3333339691px;
  width: 21.3333339691px;
  border-radius: 50px;
  margin-right: 10px;
}
section.section_state .row .item .item_state_left p {
  color: var(--light-blue);
  font-weight: 600;
  font-size: 16px;
  font-family: var(--Inter);
  line-height: 127.5%;
}
section.section_state .row .item .item_state_right {
  height: 12px;
}
section.section_state .row .item .item_state_right img {
  width: 20px;
  position: static;
}
section.section_state .section_state_center_title {
  display: block;
  margin: auto;
  position: static;
  width: 605px;
}
section.section_state .section_state_center {
  position: relative;
}
section.section_state .maxContainer .section_state_bg {
  position: absolute;
  background: url("../images/section_state_bg.png") no-repeat;
  background-size: contain;
  height: 495.6016540527px;
  opacity: 0.5;
  width: 519.3333435059px;
  left: -80px;
}
section.section_state .maxContainer .section_state_bg:nth-child(2) {
  left: 330px;
}
section.section_state .maxContainer .section_state_bg:nth-child(3) {
  right: -230px;
  left: inherit;
}

.section_statistic .row {
  position: relative;
}
.section_statistic .static_item {
  text-align: center;
}
.section_statistic .static_item .static_title {
  width: 106.67px;
  height: 106.67px;
  border-radius: 50px;
  background: url("../images/Rectangle.png") no-repeat;
  background-size: cover;
  position: relative;
  margin: auto;
  margin-bottom: 29px;
}
.section_statistic .static_item .static_title img {
  position: static;
}
.section_statistic .static_item h2 {
  color: var(--light-blue);
  font-weight: 800;
  font-size: 48px;
  line-height: 121.47%;
  font-family: var(--Inter);
  margin-bottom: 5px;
}
.section_statistic .static_item h4 {
  color: var(--light-blue2);
  font-family: var(--Inter);
  font-weight: 600;
  font-size: 16px;
  line-height: 121.47%;
}
.section_statistic .static_item:nth-child(even) .static_title {
  background: url("../images/Rectangle_Active.png") no-repeat;
}
.section_statistic .static_item:nth-child(1) .static_title,
.section_statistic .static_item:nth-child(3) .static_title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section_statistic .static_item:nth-child(1) .static_title img,
.section_statistic .static_item:nth-child(3) .static_title img {
  width: 80%;
}
.section_statistic .static_item:nth-child(2) .static_title {
  position: relative;
}
.section_statistic .static_item:nth-child(2) .static_title img {
  position: absolute;
}
.section_statistic .static_item:nth-child(2) .static_title img:nth-child(1) {
  top: 13px;
  left: 13px;
  width: 50px;
  transform: rotate(-12deg);
}
.section_statistic .static_item:nth-child(2) .static_title img:nth-child(2) {
  top: 38px;
  left: 38px;
  width: 60px;
  transform: rotate(12deg);
}
.section_statistic .static_item:nth-child(4) .static_title {
  position: relative;
}
.section_statistic .static_item:nth-child(4) .static_title img {
  position: absolute;
}
.section_statistic .static_item:nth-child(4) .static_title img:nth-child(2) {
  top: 33px;
  left: 13px;
  width: 45px;
  transform: rotate(-80deg);
}
.section_statistic .static_item:nth-child(4) .static_title img:nth-child(1) {
  top: 25px;
  left: 55px;
  width: 40px;
  transform: rotate(10deg);
}
.section_statistic button {
  background: url("../images/static_btn.png") no-repeat;
  background-size: cover;
  width: 191px;
  text-align: center;
  padding: 11px 0;
  cursor: pointer;
  border: none;
  display: block;
  margin: auto;
  margin-top: 64px;
}

.last_section {
  padding-top: 100px;
  text-align: center;
  padding-bottom: 0;
  background: #09080f;
}
.last_section .title {
  margin-bottom: 40px;
}
.last_section .last_section_row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.last_section .last_section_row .center {
  margin-left: 31px;
}
.last_section .last_section_row .right {
  margin-left: 31px;
}
.last_section .last_section_row .right h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 127.5%;
  color: var(--light-blue);
  font-family: var(--Inter);
  margin-bottom: 3px;
}
.last_section .last_section_row .right p {
  font-weight: 500;
  font-size: 14px;
  line-height: 166%;
  color: var(--light-blue2);
  font-family: var(--Inter);
  text-align: left;
}
.last_section .last_button {
  position: relative;
  width: 566.67px;
  height: 49.33px;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
}
.last_section .last_button input {
  height: 100%;
  border: none;
  outline: none;
  background: url("../images/input_bg.png") no-repeat;
  background-size: cover;
  padding-left: 20px;
  color: white;
  font-family: var(--Inter);
  font-size: 18px;
  position: absolute;
  width: 100%;
  left: 0;
}
.last_section .last_button button {
  position: absolute;
  right: 0;
  border-radius: 13.3333px;
  width: 161.68px;
  height: 49.33px;
  z-index: 2;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 166%;
  color: #5958b9;
  font-family: var(--Inter);
}
.last_section .maxContainer .row {
  align-items: center;
  margin-top: 200px;
}
.last_section .maxContainer .row img {
  position: static;
  height: auto;
}
.last_section .maxContainer .row img:nth-child(1) {
  width: 212px;
}
.last_section .maxContainer .row img:nth-child(2) {
  width: 101.95px;
}
.last_section .maxContainer .row img:nth-child(3) {
  width: 101.91px;
}
.last_section .maxContainer .row img:nth-child(4) {
  width: 338.95px;
}

footer {
  background: #120e2a;
  border-radius: 40px 40px 0px 0px;
  padding: 34px 0 25px;
}
footer .row {
  justify-content: space-between;
}
footer .row ul {
  margin-bottom: 41px;
}
footer .row ul h4 {
  color: var(--light-blue2);
  font-weight: 500;
  font-size: 16px;
  line-height: 161.97%;
  font-family: var(--Inter);
  margin-bottom: 5px;
}
footer .row ul li a {
  font-family: var(--Inter);
  font-weight: 500;
  font-size: 14px;
  line-height: 161.97%;
  color: #3d3c7d;
  margin-bottom: 4px;
  transition: 0.3s;
}
footer .row ul li a:hover {
  color: var(--light-blue2);
}
footer .bottom__footer .row {
  align-items: baseline;
}
footer .bottom__footer .left {
  display: flex;
  align-items: center;
}
footer .bottom__footer .left a {
  margin-right: 21px;
}
footer .bottom__footer ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
footer .bottom__footer ul li {
  margin-right: 32px;
}
footer .bottom__footer ul li p {
  color: rgba(157, 156, 202, 0.2);
  font-family: var(--Inter);
  font-weight: 500;
  font-size: 14px;
  line-height: 161.97%;
}
footer .bottom__footer ul li a {
  text-decoration: underline;
  color: rgba(157, 156, 202, 0.2);
  font-weight: 500;
  font-family: var(--Inter);
  font-size: 14px;
  line-height: 161.97%;
}/*# sourceMappingURL=style.css.map */