@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  width: 970.67px;
  margin: auto;
}

.maxContainer {
  width: 1120px;
  margin: auto;
}

body {
  background: #09080f;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

:root {
  --Inter: "Inter", sans-serif;
  --white: #fff;
  --light-blue: #9b99ff;
  --light-blue2: #9d9cca;
}

header {
  background: url("../images/map.png") center center no-repeat;
  background-size: cover;
  overflow: hidden;
}

header .header_front {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  background-size: cover;
}

/* relatives */
header,
header .header__center,
header .header__item,
header .header__item .maxContainer,
main .maxContainer,
section .maxContainer,
main .container,
section.section_comments .right_bottom,
section .container,
section.section_comments .left .left_comment,
section.section_state .section_state_center,
section.section_comments .right .right_top .item_one,
section.section_state .row,
.section_statistic .row,
.section_statistic .static_item .static_title,
.section_statistic .static_item:nth-child(2) .static_title,
.section_statistic .static_item:nth-child(4) .static_title,
.last_section .last_button {
  position: relative;
}


/* ====== absolutes */
header .header__section_top_img,
header .header_item_bg,
header .header_item_bg_right,
header .header__top__right,
header .header_bottom_left,
header .header_bottom_right,
header .header_qr_code,
header .header_front,
main .maxContainer img,
section .maxContainer img,
section.section_comments .left .left_comment .left_comment_bottom,
section.section_comments .left .left_comment .left_comment_bottom .girl_icon,
section.section_comments .left .left_comment .left_comment_bottom .star_icon,
section.section_comments .right .right_top .item_one .item_right,
section.section_comments .right_bottom .right_bottom_right_img,
section.section_comments .right_bottom .star_icon,
section.section_state .maxContainer .section_state_bg,
.section_statistic .static_item:nth-child(2) .static_title img,
.section_statistic .static_item:nth-child(4) .static_title img,
.last_section .last_button input,
.last_section .last_button button {
  position: absolute;
}

header .header__section_top_img {
  top: 55px;
  left: 0;
  z-index: 3;
}

header .header_item_b {
  z-index: 3;
  top: 0;
  left: -130px;
}

header .header_item_bg_right {
  z-index: 3;
  right: -135px;
  bottom: -80px;
}

header .header_item_bg {
  left: -100px;
}

header .header__top__right {
  right: 60px;
  top: 57px;
  z-index: 4;
}

header .header_bottom_left {
  left: 70px;
  z-index: 4;
  bottom: 70px;
}

header .header_bottom_right {
  right: 70px;
  z-index: 4;
  bottom: 70px;
}

header .header_qr_code {
  right: 0px;
  bottom: 0;
}

header .header__center {
  text-align: center;
  padding-top: 130px;
  color: white;
  padding-bottom: 102px;
}

header .header__center h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 124%;
  color: var(--light-blue2);
  font-family: var(--Inter);
  margin-bottom: 12px;
}

header .header__center h2 {
  font-weight: 600;
  font-size: 48px;
  font-family: var(--Inter);
  line-height: 124%;
  margin-bottom: 22px;
}

header .header__center p {
  font-weight: 600;
  font-size: 22px;
  font-family: var(--Inter);
  line-height: 175%;
  color: var(--light-blue2);
  margin-bottom: 32px;
}

header .header__center img {
  margin-bottom: 22px;
}


header .header__center img.header_media_title {
  display: none;
}

.media_btns {
  display: none;
}

header .header__center .g-play-app-store {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .header__center .g-play-app-store a:first-child {
  margin-right: 22px;
}

header .header__item {
  height: 653px;
}


header nav {
  padding-top: 22.67px;
}

header nav .row {
  justify-content: space-between;
}

header nav .row .left a {
  display: flex;
  align-items: center;
}

header nav .row .right ul {
  display: flex;
  align-items: center;
}

header nav .row .right ul li:first-child {
  margin-right: 21px;
}

main,
section {
  padding-top: 98px;
  padding-bottom: 122px;
  overflow: hidden;
}

main .main-title,
section .main-title {
  margin: auto;
  display: block;
}


main .maxContainer img,
section .maxContainer img {
  top: -170px;
  left: -120px;
  width: 120%;
  height: 500px;
  height: auto;
}

main .row,
section .row {
  justify-content: space-between;
  margin-top: 28px;
}

main .row .box,
section .row .box {
  width: 307px;
  padding: 33px 25.5px 72.33px 24px;
  background: #120e2a;
  height: 432px;
  border-radius: 16px;
  background: url("../images/main-block-1.png") no-repeat;
  background-size: cover;
  text-align: center;
}

main .row .box img,
section .row .box img {
  margin-bottom: 26px;
}

main .row .box h5,
section .row .box h5 {
  color: var(--light-blue);
  font-weight: 600;
  font-size: 18px;
  line-height: 127.5%;
  font-family: var(--Inter);
}


main .row .box p,
section .row .box p,
section.section_comments .right .item_left h5,
section.section_comments .right .right_bottom_left h5,
.last_section .last_section_row .right p,
.last_section .last_button button,
footer .row ul h4,
footer .row ul li a,
footer .bottom__footer ul li p,
footer .bottom__footer ul li a {
  font-weight: 500;
}

main .row .box p,
section .row .box p {
  font-size: 16px;
  line-height: 166%;
  font-family: var(--Inter);
  color: var(--light-blue2);
  margin-top: 16px;
}

main .row .box:nth-child(2),
section .row .box:nth-child(2) {
  background: url("../images/main-block-2.png") no-repeat;
  padding-bottom: 131px;
}

main .row .box:nth-child(2) h5,
section .row .box:nth-child(2) h5 {
  color: var(--white);
}

main .row .box:nth-child(2) p,
section .row .box:nth-child(2) p {
  color: rgba(255, 255, 255, 0.8);
}

main .row .box:nth-child(3),
section .row .box:nth-child(3) {
  background: url("../images/main-block-3.png") no-repeat;
  padding-bottom: 23px;
}

.first_section .maxContainer img {
  top: -113px;
  width: 120%;
  height: 625px;
}

section .container .row .box {
  height: 255.33px;
}

section.section_comments .maxContainer img {
  height: 780px;
}

section.section_comments .left .left_comment {
  width: 263.33px;
  height: 344.67px;
  background: url("../images/left_comment.png") no-repeat;
  background-size: cover;
  padding: 21px 0 1px 26px;
}

section.section_comments .media_row {
  display: none;
}

section.section_comments .left .left_comment h4 {
  color: var(--white);
  font-family: var(--Inter);
  font-weight: 600;
  font-size: 18px;
  line-height: 127.5%;
  margin-bottom: 16px;
}

section.section_comments .left .left_comment .stars {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

section.section_comments .left .left_comment .stars img {
  margin-right: 3.5px;
  cursor: pointer;
  width: 30.63px;
  height: 32.67px;
}

section.section_comments .left .left_comment .stars img:last-child {
  opacity: 0.5;
}

section.section_comments .left .left_comment .left_comment_bottom {
  bottom: 0;
}

section.section_comments .left .left_comment .left_comment_bottom .girl_icon {
  left: 29px;
  bottom: 0;
  z-index: 3;
}

section.section_comments .left .left_comment .left_comment_bottom .star_icon {
  z-index: 2;
}

section.section_comments .left .left_comment .left_comment_bottom .star_icon:nth-child(1) {
  left: 30px;
  bottom: 50px;
  transform: rotate(-33deg);
}

section.section_comments .left .left_comment .left_comment_bottom .star_icon:nth-child(2) {
  left: 120px;
  bottom: 100px;
  transform: rotate(-23deg);
}

section.section_comments .left .left_comment .left_comment_bottom .star_icon:nth-child(3) {
  left: 140px;
  bottom: 35px;
  transform: rotate(-23deg);
}

section.section_comments .right .right_top {
  display: flex;
  align-items: center;
}

section.section_comments .right .right_top .item_one {
  width: 328px;
  background: url("../images/right_bg_top.png") no-repeat;
  background-size: cover;
  display: flex;
  border-radius: 16px;
  overflow: hidden;
  height: 160px;
  padding-top: 21px;
  padding-left: 26px;
}

section.section_comments .right .right_top .item_one .item_right {
  right: 0;
}

section.section_comments .right .right_top .item_one:first-child {
  margin-right: 24px;
}

section.section_comments .right .right_top .item_one:first-child .item_right {
  transform: rotate3d(1, 200, 1, 179deg);
  top: -10px;
  right: -20px;
}

section.section_comments .right .item_left h4,
section.section_comments .right .right_bottom_left h4 {
  color: var(--light-blue);
  font-weight: 600;
  font-size: 18px;
  line-height: 127.5%;
  font-family: var(--Inter);
  margin-bottom: 16px;
}

section.section_comments .right .item_left .stars,
section.section_comments .right .right_bottom_left .stars {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

section.section_comments .right .item_left .stars img,
section.section_comments .right .right_bottom_left .stars img {
  width: 30.31px;
  height: 32.33px;
  margin-right: 4px;
}

section.section_comments .right .item_left .stars img:last-child,
section.section_comments .right .right_bottom_left .stars img:last-child {
  opacity: 0.2;
}

section.section_comments .right .item_left h5,
section.section_comments .right .right_bottom_left h5 {
  color: var(--light-blue2);
  font-family: var(--Inter);
  font-size: 16px;
  line-height: 166%;
}

section.section_comments .right_bottom {
  margin-top: 23px;
  background: url("../images/right_bg_bottom.png") no-repeat;
  background-size: contain;
  height: 160px;
  padding-top: 21px;
  padding-left: 26px;
}

section.section_comments .right_bottom .row {
  margin-top: 0;
}

section.section_comments .right_bottom .right_bottom_right_img {
  top: 10px;
  right: 0;
  transform: rotateY(180deg);
}

section.section_comments .right_bottom .star_icon:nth-child(1) {
  right: 130px;
  transform: rotate(-20deg);
  top: 25px;
}

section.section_comments .right_bottom .star_icon:nth-child(2) {
  right: 170px;
  transform: rotate(20deg);
  top: 80px;
}

section.section_comments .right_bottom .star_icon:nth-child(3) {
  right: 230px;
  transform: rotate(20deg);
  top: 25px;
}

section.section_state .row {
  justify-content: space-between;
}

.humans_media {
  display: none;
}

section.section_state .row .item {
  display: flex;
  width: 262px;
  border-radius: 16px;
  background: url("../images/section_state_item.png") no-repeat;
  background-size: cover;
  padding: 19px 24px 19px 16px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}

section.section_state .row .item .item_state_left {
  display: flex;
  align-items: center;
}

section.section_state .row .item .item_state_left .circle {
  background: #d9d9d9;
  height: 21.3333339691px;
  width: 21.3333339691px;
  border-radius: 50px;
  margin-right: 10px;
}

section.section_state .row .item .item_state_left p {
  color: var(--light-blue);
  font-weight: 600;
  font-size: 16px;
  font-family: var(--Inter);
  line-height: 127.5%;
}

section.section_state .row .item .item_state_right {
  height: 12px;
}

section.section_state .row .item .item_state_right img {
  width: 20px;
  position: static;
}

section.section_state .section_state_center_title {
  display: block;
  margin: auto;
  position: static;
  width: 605px;
}

.state_title_media {
  display: none;
}

section.section_state .maxContainer .section_state_bg {
  background: url("../images/section_state_bg.png") no-repeat;
  background-size: contain;
  height: 495.6016540527px;
  opacity: 0.5;
  width: 519.3333435059px;
  left: -80px;
}

section.section_state .maxContainer .section_state_bg:nth-child(2) {
  left: 330px;
}

section.section_state .maxContainer .section_state_bg:nth-child(3) {
  right: -230px;
  left: inherit;
}


.section_statistic .static_item {
  text-align: center;
}

.section_statistic .static_item .static_title {
  width: 106.67px;
  height: 106.67px;
  border-radius: 50px;
  background: url("../images/Rectangle.png") no-repeat;
  background-size: cover;
  margin: auto;
  margin-bottom: 29px;
}

.section_statistic .static_item .static_title img {
  position: static;
}

.section_statistic .static_item h2 {
  color: var(--light-blue);
  font-weight: 800;
  font-size: 48px;
  line-height: 121.47%;
  font-family: var(--Inter);
  margin-bottom: 5px;
}

.section_statistic .static_item h4 {
  color: var(--light-blue2);
  font-family: var(--Inter);
  font-weight: 600;
  font-size: 16px;
  line-height: 121.47%;
}

.section_statistic .static_item:nth-child(even) .static_title {
  background: url("../images/Rectangle_Active.png") no-repeat;
}

.section_statistic .static_item:nth-child(1) .static_title,
.section_statistic .static_item:nth-child(3) .static_title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section_statistic .static_item:nth-child(1) .static_title img,
.section_statistic .static_item:nth-child(3) .static_title img {
  width: 80%;
}


.section_statistic .static_item:nth-child(2) .static_title img:nth-child(1) {
  top: 13px;
  left: 13px;
  width: 50px;
  transform: rotate(-12deg);
}

.section_statistic .static_item:nth-child(2) .static_title img:nth-child(2) {
  top: 38px;
  left: 38px;
  width: 60px;
  transform: rotate(12deg);
}


.section_statistic .static_item:nth-child(4) .static_title img:nth-child(2) {
  top: 33px;
  left: 13px;
  width: 45px;
  transform: rotate(-80deg);
}

.section_statistic .static_item:nth-child(4) .static_title img:nth-child(1) {
  top: 25px;
  left: 55px;
  width: 40px;
  transform: rotate(10deg);
}

.section_statistic button {
  background: url("../images/static_btn.png") no-repeat;
  background-size: contain;
  width: 251.33px;
  text-align: center;
  padding: 11px 0;
  cursor: pointer;
  border: none;
  display: block;
  margin: auto;
  height: 49.33px;
  margin-top: 64px;
}

.last_section {
  padding-top: 100px;
  text-align: center;
  padding-bottom: 0;
  background: #09080f;
}

.last_section .title {
  margin-bottom: 40px;
}

.last_section .title .last_section_title_media {
  display: none;
}

.last_section .last_section_row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.last_section .last_section_row .center {
  margin-left: 31px;
}

.last_section .last_section_row .right {
  margin-left: 31px;
}

.last_section .last_section_row .right h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 127.5%;
  color: var(--light-blue);
  font-family: var(--Inter);
  margin-bottom: 3px;
}

.last_section .last_section_row .right p {
  font-size: 14px;
  line-height: 166%;
  color: var(--light-blue2);
  font-family: var(--Inter);
  text-align: left;
}

.last_section .last_button {
  width: 566.67px;
  height: 49.33px;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
}

.last_section .last_button input {
  height: 100%;
  border: none;
  outline: none;
  background: url("../images/input_bg.png") no-repeat;
  background-size: cover;
  padding-left: 20px;
  color: white;
  font-family: var(--Inter);
  font-size: 18px;
  width: 100%;
  left: 0;
}

.last_section .last_button button {
  right: 0;
  border-radius: 13.3333px;
  width: 161.68px;
  height: 49.33px;
  z-index: 2;
  cursor: pointer;
  font-size: 16px;
  line-height: 166%;
  color: #5958b9;
  font-family: var(--Inter);
}

.title_comment {
  text-align: center;
}

.last_section .maxContainer .row {
  align-items: center;
  margin-top: 200px;
}

.last_section .maxContainer .row img {
  position: static;
  height: auto;
}

.last_section .maxContainer .row img:nth-child(1) {
  width: 212px;
}

.last_section .maxContainer .row img:nth-child(2) {
  width: 101.95px;
}

.last_section .maxContainer .row img:nth-child(3) {
  width: 101.91px;
}

.last_section .maxContainer .row img:nth-child(4) {
  width: 338.95px;
}

footer {
  background: #120e2a;
  border-radius: 40px 40px 0px 0px;
  padding: 34px 0 25px;
}

footer .row {
  justify-content: space-between;
}

footer .row ul {
  margin-bottom: 41px;
}

footer .row ul h4 {
  color: var(--light-blue2);
  font-size: 16px;
  line-height: 161.97%;
  font-family: var(--Inter);
  margin-bottom: 5px;
}

footer .row ul li a {
  font-family: var(--Inter);
  font-size: 14px;
  line-height: 161.97%;
  color: #3d3c7d;
  margin-bottom: 4px;
  transition: 0.3s;
}

footer .row ul li a:hover {
  color: var(--light-blue2);
}

footer .bottom__footer .row {
  align-items: baseline;
}

footer .bottom__footer .left {
  display: flex;
  align-items: center;
}

footer .bottom__footer .left a {
  margin-right: 21px;
}

footer .bottom__footer ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

footer .bottom__footer ul li {
  margin-right: 32px;
}

footer .bottom__footer ul li p {
  color: rgba(157, 156, 202, 0.2);
  font-family: var(--Inter);
  font-size: 14px;
  line-height: 161.97%;
}

footer .bottom__footer ul li a {
  text-decoration: underline;
  color: rgba(157, 156, 202, 0.2);
  font-family: var(--Inter);
  font-size: 14px;
  line-height: 161.97%;
}

section.section_state .row .item {
  display: none;
}

section.section_state .row .item:nth-child(1),
section.section_state .row .item:nth-child(2),
section.section_state .row .item:nth-child(3),
section.section_state .row .item:nth-child(4) {
  display: flex;
}

@media(max-width:1130px) {
  .maxContainer {
    width: 950px;
  }

  section.section_state .row .item {
    padding: 15px 24px 15px 16px;
    width: 230px;
  }
}

@media(max-width:990px) {

  .maxContainer,
  .container {
    width: 768px;
  }

  header .header_item_bg,
  header .header_item_bg_right,
  header .header_qr_code {
    display: none;
  }



  header .header__center p {
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    margin-bottom: 23px;
  }

  header .header__center img {
    width: 520.76px;
  }

  header .header__center .g-play-app-store img {
    width: 129.9px;
  }

  header .header_bottom_right {
    bottom: 30px;
    width: 110px;
    bottom: -40px;
  }

  header nav .row .left a img {
    width: 150px;
  }

  header nav .row .right a img {
    width: 119px;
  }

  header .header__center {
    padding-top: 83px;
    padding-bottom: 0;
  }

  header .header__section_top_img {
    width: 130px;
    top: 0;
    left: 15px;
  }

  header .header__top__right {
    width: 100px;
    right: 77px;
    top: 22px;
  }

  header .header_bottom_left {
    width: 110px;
    bottom: 0;
  }

  header .header__top__right img {
    width: 100%;
  }

  header .header__item {
    height: 407px;
  }

  header {
    overflow: inherit;
  }

  main {
    background: #0A0911;
    padding-top: 120px;
    padding-bottom: 140px;
  }

  main .maxContainer {
    display: none;
  }

  main .row .box,
  section .row .box {
    width: 229px;
    height: 430px;
    background: url("../images/main-block-1-media-1.png") no-repeat;
    background-size: cover;
    padding: 24px 9px 0;
  }



  main .row .box:nth-child(3),
  section .row .box:nth-child(3) {
    background: url("../images/main-block-1-media-1.png") no-repeat;
  }

  main .row .box:nth-child(2),
  section .row .box:nth-child(2) {
    background: url("../images/main-block-2-media-1.png") no-repeat;

  }

  main .row .box h5,
  section .row .box h5 {
    width: 50%;
    margin: auto;
    margin-bottom: 4px;
  }

  main .row .box p,
  section .row .box p {
    font-weight: 500;
    font-size: 14px;
    line-height: 166%;
    margin-top: 16px;
  }

  main .row .box img,
  section .row .box img {
    width: 41px;
    height: 49px;
    margin-bottom: 19px;
  }

  main .row .box:nth-child(2),
  section .row .box:nth-child(2) {
    padding-bottom: 0;
  }

  main .container .main-title {
    width: 261px;
  }

  section.first_section {
    background: #0A0911;
    padding-top: 0;
  }

  section.first_section .maxContainer {
    display: none;
  }

  section.first_section .main-title {
    display: none;
  }

  section.first_section .row {
    margin-top: 0;
  }

  section.first_section {
    padding-bottom: 140px;
  }

  section.section_comments {
    padding-top: 0;
    padding-bottom: 140px;
  }

  section.section_comments .maxContainer {
    display: none;
  }

  section.section_comments .left .left_comment {
    width: 198px;
    height: 258.9px;
    padding-top: 16px;
    padding-left: 20px;
  }

  section.section_comments .right .right_top .item_one {
    width: 246px;
    height: 120px;
    padding-top: 15px;
    padding-left: 20px;
    background-size: contain;
  }

  main,
  section {
    background: #0A0911;
  }

  section.section_comments .left .left_comment h4 {
    color: #FFF;
    font-size: 18px;
    margin-bottom: 8px;
  }

  section.section_comments .left .left_comment .stars img {
    width: 26.25px;
    height: 28px;
    margin-bottom: 8px;
  }

  section.section_comments .left .left_comment .left_comment_bottom .star_icon {
    width: 41px;
    height: 70px;
  }

  section.section_comments .left .left_comment .left_comment_bottom .star_icon:nth-child(1) {
    left: 10px;
    bottom: 27px;
  }

  section.section_comments .left .left_comment .left_comment_bottom .girl_icon {
    left: 5px;
  }

  section.section_comments .left .left_comment .left_comment_bottom .star_icon:nth-child(2) {
    left: 98px;
    bottom: 84px;
  }

  section.section_comments .left .left_comment .left_comment_bottom .star_icon:nth-child(3) {
    left: 119px;
    bottom: 16px;
  }

  section.section_comments .right .item_left h4,
  section.section_comments .right .right_bottom_left h4 {
    font-size: 18px;
    margin-bottom: 8px;
  }

  section.section_comments .right .item_left .stars img,
  section.section_comments .right .right_bottom_left .stars img {
    width: 21.78px;
    height: 27.5px;
  }

  section.section_comments .right .item_left .stars,
  section.section_comments .right .right_bottom_left .stars {
    margin-bottom: 8px;
  }

  section.section_comments .right .right_top .item_one:first-child .item_right img {
    width: 130px;
  }

  section.section_comments .right .right_top .item_one:first-child .item_right {
    top: -5px;
    right: -27px;
  }

  section.section_comments .right .right_top .item_one .item_right {
    top: 5px;
    right: -5px;
  }

  section.section_comments .right .right_top .item_one .item_right img {
    width: 100px;
  }

  section.section_comments .right_bottom {
    padding-top: 16px;
    padding-left: 20px;
  }

  section.section_comments .right_bottom .right_bottom_right_img {
    width: 120px;
    top: 0;
  }

  section.section_comments .right_bottom .star_icon:nth-child(3) {
    width: 30px;
    height: 50px;
  }

  section.section_comments .right_bottom .star_icon:nth-child(2) {
    right: 179px;
    transform: rotate(20deg);
    top: 64px;
    width: 33px;
    height: 55px;
  }

  section.section_comments .right_bottom .star_icon:nth-child(1) {
    width: 36px;
    height: 61px;
    top: 13px;
  }

  section.section_state {
    padding-top: 0;
    padding-bottom: 140px;
  }

  section.section_state .maxContainer .section_state_bg {
    display: none;
  }

  section.section_state .section_state_center_title {
    width: 471px;
  }

  section.section_state .row {
    margin-top: 23px;
  }

  section.section_state .row .item {
    height: 52px;
    width: 229px;
    margin-bottom: 21px;
    padding: 17px 20px 17px 16px;
    display: flex;
  }

  section.section_state .row .item .item_state_left p {
    font-size: 16px;
  }

  section.section_statistic {
    padding-top: 0;
  }

  .section_statistic .static_item {
    width: 50%;
    margin-bottom: 48px;
  }

  .section_statistic .static_item h2 {
    font-size: 43.5989px;
  }

  .section_statistic button {
    margin-top: 0;
  }

  .last_section {
    padding-top: 0;
    background: #0A0911;
  }

  .last_section .title {
    margin-bottom: 36px;
  }

  .last_section .title img {
    width: 549.59px;
  }

  .last_section .last_button {
    width: 508px;
  }

  .last_section .maxContainer .row {
    margin-top: 150px;
  }

  .last_section .maxContainer .row img:nth-child(1) {
    width: 127.2px;
  }

  .last_section .maxContainer .row img:nth-child(2) {
    width: 61.17px;
  }

  .last_section .maxContainer .row img:nth-child(3) {
    width: 61.14px;
  }

  .last_section .maxContainer .row img:nth-child(4) {
    width: 123.6px;
  }
}

@media(max-width:768px) {

  .maxContainer,
  .container {
    width: 711.6px;
  }

  section.section_comments .right .right_top .item_one {
    width: 236px;
  }

  footer {
    overflow: hidden;
  }

  footer .top_footer .row {
    justify-content: end;
  }

  footer .icon {
    width: 40%;
  }

  footer .top_footer .row ul {
    width: 30%;
  }

  footer .right {
    display: none;
  }

  footer .bottom__footer .row {
    align-items: end;
  }

  footer .bottom__footer ul {
    align-items: start;
    text-align: left;
    flex-direction: column-reverse;
  }

  footer .bottom__footer ul li {
    margin-top: 19px;
  }
}

@media(max-width:720px) {

  .maxContainer,
  .container {
    width: 600px;
  }

  header .header__item {
    height: 617px;
  }


  section.first_section .main-title {
    display: flex;
    width: 124px;
    margin-bottom: 20px;
  }

  .title_comment {
    margin-bottom: 24px;
  }

  .title_comment img {
    width: 113px;

  }

  main .row .box,
  section .row .box {
    width: 100%;
    height: auto;
    padding-bottom: 24px;
    background: #120E2A;
    margin-bottom: 20px;
  }

  main .row .box:nth-child(2),
  section .row .box:nth-child(2) {
    width: 100%;
    padding-bottom: 20px;
    background-size: cover;
    background: #120E2A;
  }

  main .row .box:nth-child(3),
  section .row .box:nth-child(3) {
    background-size: cover;
    background: #120E2A;
    width: 100%;
  }

  section.first_section .container .row .box {
    background: none;
  }

  section.section_comments .row {
    display: none;
  }

  section.section_comments .media_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  section.section_comments .media_row .cart {
    background: url("../images/comment_media_all.png") no-repeat;
    background-size: cover;
    padding: 24px 27px 29px 20px;
    width: 157px;
    margin-bottom: 20px;
  }

  section.section_comments .media_row .cart h4 {
    color: #9B99FF;
    font-weight: 600;
    font-size: 20px;
    line-height: 127.5%;
    font-family: var(--Inter);
    margin-bottom: 15px;
  }

  section.section_comments .media_row .cart .stars {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  section.section_comments .media_row .cart .stars img {
    width: 30px;
    margin-right: 6px;
    margin-bottom: 8px;
  }

  section.section_comments .media_row .cart p {
    color: #9D9CCA;
    font-weight: 500;
    font-family: var(--Inter);
    font-size: 16px;
    line-height: 166%;
    margin-top: 15px;
  }

  footer .bottom__footer .row {
    align-items: self-start;
    flex-direction: column-reverse;
  }

  footer .bottom__footer .left {
    margin-top: 20px;
  }
}

@media(max-width:610px) {

  .maxContainer,
  .container {
    width: 333px;
  }

  header .header__center img.header_media_title {
    display: block;
  }


  header {
    overflow: hidden;
  }

  header nav .row .right {
    display: none;
  }

  header nav .row .left a img {
    width: 136.4px;
  }

  header .header_bottom_right,
  header .header__section_top_img,
  header .header__center .g-play-app-store,
  header .header__center img {
    display: none;
  }

  header .header__center .header_media_title {
    display: block;
    width: 100%;
  }

  header .header__top__right {
    width: 100px;
    right: -30px;
    top: -23px;
  }

  header .header_bottom_left {
    width: 110px;
    top: -20px;
    right: 35px;
    left: unset;
    transform: rotateY(180deg);
  }

  header .header__center {
    padding-top: 100px;
  }

  header .header__center h4 {
    font-weight: 600;
    font-size: 14px;
    line-height: 124%;
    color: rgba(157, 156, 202, 0.5);
    margin-bottom: 24px;
    text-decoration: underline;
  }

  header .header__center p {
    font-size: 18px;
  }

  header .header__center .media_btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header .header__center .media_btns a:first-child img {
    width: 185.6px;
    display: block;
  }

  header .header__center .media_btns a:last-child img {
    width: 165.63px;
    display: block;
  }

  header .header__item {
    height: 600px;
  }

  main {
    padding-top: 0;
    padding-bottom: 130px;
    margin-top: 20px;
  }

  main .container .main-title {
    width: 261px;
  }

  main .row {
    margin-top: 24px;
  }

  main .row .box {
    width: 333px;
    padding-top: 24px;
    background: url("../images/main_media_all.png") no-repeat;
    background-size: cover;
    height: 356px;

  }

  main .row .box:nth-child(2),
  main .row .box:nth-child(3) {
    padding-top: 24px;
    background: url("../images/main_media_all.png") no-repeat;
    background-size: cover;
  }

  main .row .box img {
    width: 38px;
    margin-bottom: 15px;
  }

  main .row .box h5 {
    width: 100%;
    margin-bottom: 12px;
  }

  main .row .box p {
    font-size: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 166%;
  }

  main .row .box:nth-child(2) h5 {
    font-size: 20px;
    color: #fff;
  }

  main .row .box:nth-child(2) p {
    color: #9D9CCA;
    font-size: 16px;
    margin-top: 8px;

  }

  section.first_section .container .row .box img {
    width: 86px;
    height: 86px;
    background: #120E2A;
    border-radius: 50px;
    padding: 15px;
  }

  section.first_section .container .row .box h5 {
    font-size: 20px;
    margin-bottom: 0;
  }

  section.first_section .container .row .box p {
    font-size: 18px;
    margin-top: 8px;
  }

  section.first_section {
    padding-bottom: 130px;
  }

  main .row .box:nth-child(2) h5,
  section .row .box:nth-child(2) h5 {
    color: #9B99FF;
  }

  main .row .box:nth-child(2) p,
  section .row .box:nth-child(2) p {
    color: #9D9CCA;
  }

  section.section_state .section_state_center_title {
    display: none;
  }

  section.section_state .state_title_media {
    display: flex;
    position: static;
    width: auto;
    height: 68px;
    margin: auto;
  }

  section.section_state .row .item {
    width: 100%;
    display: none;
  }

  section.section_state .row .item:nth-child(1),
  section.section_state .row .item:nth-child(2),
  section.section_state .row .item:nth-child(3),
  section.section_state .row .item:nth-child(4) {
    display: flex;
    background: url("../images/mos_media.png") no-repeat;
    height: 65px;
    width: 331px;
  }

  section.section_state .row .item .item_state_left p {
    font-size: 20px;
  }

  section.section_state .row .item .item_state_left .circle {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }

  section.section_state {
    padding-bottom: 130px;
  }

  .section_statistic .static_item {
    width: 100%;
  }

  .last_section .maxContainer .row {
    display: none;
  }

  .last_section .title img {
    display: none;
  }

  .last_section .last_section_row .left img,
  .last_section .last_section_row .center {
    display: none;
  }

  .last_section .last_section_row .right {
    margin-left: 24px;
  }

  .last_section .last_section_row .right h4 {
    font-size: 20px;
    width: 142px;
    text-align: left;
    margin-bottom: 12px;
  }

  .last_section .last_section_row .right p {
    font-size: 14px;
    width: 211px;
  }

  .last_section .last_section_row .left .humans_media {
    display: block;
  }

  .last_section .title .last_section_title_media {
    display: flex;
    width: 250px;
    margin: auto;
  }

  .last_section .last_button {
    width: 335px;
    margin-bottom: 170px;
    height: 42px;
  }

  .last_section .last_button button {
    background: url("../images/last_sect_btn.png") no-repeat;
    font-size: 0;
    width: 123.61px;
    height: 45px;
    background-size: contain;
    right: -7px;
  }

  footer {
    border-radius: 24px 24px 0px 0px;
  }

  footer .top_footer .row {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  footer .bottom__footer .left {
    display: none;
  }

  footer .bottom__footer ul {
    margin: auto;
  }

  footer .bottom__footer ul li {
    margin: 5px auto;
  }

  footer .icon {
    width: 100%;
    margin-bottom: 30px;
  }

  footer .top_footer .row ul {
    width: 100%;
  }

  footer .row ul h4 {
    font-size: 20px;
    margin-bottom: 12px;
  }

  footer .row ul li a {
    font-size: 16px;
  }

  .last_section .last_section_row {
    justify-content: flex-start;
    width: 333px;
    margin: auto;
  }
}